Source: ros-rolling-orocos-kdl-vendor
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, libeigen3-dev, liborocos-kdl-dev, ros-rolling-eigen3-cmake-module, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-orocos-kdl-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, liborocos-kdl-dev, ros-rolling-eigen3-cmake-module, ros-rolling-ros-workspace
Description: Wrapper around orocos_kdl, providing nothing but a dependency on orocos_kdl on some systems.
 On others, it fetches and builds orocos_kdl locally.
